.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0f7fa; 
    text-align: center;
  
    .logo-container {
      margin-bottom: 20px;
    }
  
    .logo {
      max-width: 150px;
      border-radius: 50%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  
    .home-header {
      font-size: 3rem;
      color: #000000;
      margin-bottom: 30px;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
    }
  
    button {
      font-size: 1.2rem;
      padding: 15px 30px;
      background-color: #ff5722;
      color: white;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
  
      &:hover {
        background-color: #e64a19;
        transform: scale(1.1);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      }
  
      &:focus {
        outline: none;
      }
    }
  }
  