
:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  background-color: #e0f7fa; 
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
}
.search-container {
  width: 100%;
  max-width: 600px;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  background-image: linear-gradient(#e3f2fd, #e3f2fd), linear-gradient(135deg, #2196F3, #1976D2);
}

.search-field {
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

.search-field.mat-form-field-appearance-fill .mat-form-field-infix {
  background-color: #ffffff;
  border-radius: 15px;
  border: 2px solid #1976D2;
}

.view-button {
  background-color: #1976D2;
  color: white;
  font-size: 1rem;
  padding: 0.6rem 1.5rem;
  border-radius: 25px;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.view-button:hover {
  background-color: #1565C0;
  box-shadow: 0 10px 20px rgba(33, 150, 243, 0.3);
}

.view-button:focus {
  box-shadow: 0 0 12px rgba(33, 150, 243, 0.5);
}

.odd-row {
  background-color: #cfcfcf !important; 
  color: rgb(0, 0, 0) !important; 
}

.even-row {
  background-color: #ffffff !important; 
  color: black !important; 
}

.mat-row:hover {
  background-color: #f0f0f0 !important; 
}

@media (max-width: 768px) {
  .search-container {
    width: 90%;
  }

  .search-field {
    padding: 1rem;
  }
}
